<!DOCTYPE html>
<html>
  <head>
    <title>Polls</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
  </head>

  <body>
    <!-- Technically I should have a "base template" with this on each page -->
    <header>
      <img src="{% static 'polls/img/logo.png' %}" alt="Cheapo logo"></img>
    </header>

    <main>
      {% if latest_question_list %}
        <ul class="question-list">
          {% for question in latest_question_list %}
          <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No polls available.</p>
      {% endif %}
    </main>
  </body>
</html>
